.login-screen-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.login-screen {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    max-width: 16rem;
    margin: auto;
}

.login-screen button {
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.login-form-container {
    max-width: 10.75rem;
    margin: auto;
}

.logo {
    width: 100%;
    position: relative;
    left: 0.5rem;
}
