.control-shape {
    fill: none;
    stroke: var(--neutral);
    stroke-miterlimit: 5;
    stroke-width: 2;
    stroke-linecap: "round";
    stroke-linejoin: "round";
}

.target-shape {
    fill: none;
    stroke: var(--neutral);
    stroke-linejoin: round;
    stroke-width: 1;
    stroke-dasharray: 3;
}

.target-points,
.control-points {
    fill: var(--neutral);
}
