.menu-open-button .icon {
    width: 1.5em;
    height: 1.5em;
    top: 0.3em;
    left: 0.35em;
}

.menu-open-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.game-menu .small-title .team-icon {
    font-family: Animals;
    margin-right: 0.3rem;
}

.game-menu .bordered-window {
    background-color: var(--background);
}

.game-menu > .left,
.game-menu > .right {
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 0.3rem;
    transition: opacity 0.3s, left 0.3s ease, right 0.3s ease;
}

.game-menu > .left {
    padding-left: 0.4rem;
    padding-top: 0.65rem;
    padding-bottom: 0.35rem;
    left: -12rem;
}

.game-menu > .right {
    padding-right: 0.4rem;
    display: grid;
    right: -12rem;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-menu.open > .left,
.game-menu.open > .right {
    opacity: 1;
}

.game-menu.open > .left {
    left: 0;
}

.game-menu.open > .right {
    right: 0;
}
