.setting-switch {
    text-align: center;
    margin: 0.3rem auto;
    cursor: pointer;
    width: 100%;
}

.setting-switch .setting-name {
    color: var(--primary);
}

.setting-switch .icon {
    position: relative;
    margin: 0.1rem auto;
    font-size: 1.6rem;
}

.setting-switch .texts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 3.6rem;
    margin: auto;
    color: var(--background);
    position: relative;
}

.setting-switch .texts > * {
    padding-top: 0.2rem;
    color: var(--background);
}

.setting-switch .switch {
    background-position: center;
    padding: 0.2rem 0;
    position: relative;
}

.setting-switch .switch-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    top: 0;
    left: 0;
}

.setting-switch.on .on-text,
.setting-switch.off .off-text {
    color: var(--highlight);
}

.setting-switch.off .on-text {
    transform: skewY(-13deg) scaleX(0.9);
    transform-origin: left center;
}

.setting-switch.on .off-text {
    transform: skewY(13deg) scaleX(0.9);
    transform-origin: right center;
}

.setting-switch.off .switch-icon {
    transform: scaleX(-1);
}
