.game-menu .players {
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    font-weight: 500;
}

.game-menu .player {
    position: relative;
    text-align: center;
    line-height: 0;
}

.game-menu .player-content,
.game-menu .player-content > * {
    display: inline-block;
    position: relative;
}

.game-menu .player-content > * {
    line-height: 1.2rem;
}

.game-menu .disconnected-icon,
.game-menu .player.me:before {
    display: none;
}

.game-menu .disconnected-icon {
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    left: -1.3rem;
    position: absolute;
}

.game-menu .player.disconnected .disconnected-icon {
    display: block;
}

.game-menu .player.me:before {
    content: "";
    position: absolute;
    display: block;
    border: 0.2rem solid transparent;
    border-color: inherit;
    transform: rotate(45deg);
    top: 0.4rem;
    left: -0.7rem;
}

.game-menu .me-mark {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--neutral);
    transform: rotate(45deg);
    top: 0.35rem;
    left: -0.8rem;
}

.game-menu .player.disconnected {
    color: var(--neutral);
}

.game-menu .player-name {
    white-space: nowrap;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
