.turn-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    bottom: 0.9rem;
    font-weight: 500;
}

.turn-info .actions .icon {
    position: relative;
    display: inline-block;
    margin: 0 0.1rem;
    font-size: 0.9rem;
}

.turn-info.team-red {
    color: var(--team-red);
}

.turn-info.team-blue {
    color: var(--team-blue);
}

.turn-info.primary {
    color: var(--primary);
}

.turn-info .team-icon {
    font-family: Animals;
    color: var(--background);
    background-color: var(--neutral);
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
    border-radius: 1rem;
}
.turn-info .team-icon,
.turn-info .who {
    margin-right: 0.2rem;
}

.turn-info.team-red .team-icon,
.turn-info.team-red .instructions {
    background-color: var(--team-red);
}

.turn-info.team-blue .team-icon,
.turn-info.team-blue .instructions {
    background-color: var(--team-blue);
}

.turn-info.primary .team-icon,
.turn-info.primary .instructions {
    background-color: var(--primary);
}

.turn-info .instructions {
    color: var(--background);
    padding: 0 1rem;
    border-radius: 1rem;
    display: inline-block;
}

.turn-info .others > * {
    vertical-align: middle;
    display: inline-block;
}
