.game-container {
    position: fixed;
}

.game-area {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: #ffffff05;
}

.multiple-minigames {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .game-area {
        width: 32rem;
        height: 18rem;
    }
}
