@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive+Mono&family=Quicksand:wght@400;500&display=swap");

@font-face {
    font-family: "Animals";
    src: url("../fonts/Animals.woff2") format("woff2"), url("../fonts/Animals.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
button,
input,
textarea {
    font-family: "Quicksand", sans-serif;
}
