.icon {
    width: 0;
    height: 0;
    padding: 0.55em;
    background-size: contain;
    background-position: center;
}

.icon.sprite-exit-icon {
    top: 0.6em;
    left: 0.4em;
}

.icon.sprite-search-icon {
    top: 0.55em;
    left: 0.6em;
    width: 1em;
    height: 1em;
}

.x-icon {
    position: relative;
    height: 1.25em;
    width: 1em;
}

.x-icon:before,
.x-icon:after {
    content: "";
    display: block;
    position: absolute;
    height: 0.7em;
    width: 0.1em;
    border-radius: 0.1em;
    left: 0.4em;
    top: 0.3em;
}

.x-icon:before {
    transform: rotate(45deg);
}

.x-icon:after {
    transform: rotate(-45deg);
}
