:root {
    /* Primary colors */
    --primary: #f7a01f;
    --neutral: #c9a9a3;
    --background: #2d1922;

    /* Secondary colors */
    --primary-lighter: #f7b320;
    --primary-darker: #ff980e;
    --neutral-lighter: #e0c7c3;
    --highlight: #ffffff;

    /* Team colors */
    --team-red: #ed6958;
    --team-red-lighter: #f38071;
    --team-blue: #6aa9c4;
    --team-blue-lighter: #7db7d0;

    /* Other */
    --facebook: #1977f3;
    --max-width: 35rem;
}
