.room .room-content {
    max-width: var(--max-width);
    position: relative;
    margin: auto;
    width: 100%;
    padding: 1rem;
}

.room .room-title {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 1rem;
    max-width: 20rem;
}

.room .teams {
    display: grid;
    column-gap: 1rem;
    margin-top: 4.9rem;
    position: relative;
    row-gap: 1rem;
}

.room .teams .exit-room-button {
    position: absolute;
    top: -3rem;
    left: 0;
}

.room .leave-team-button {
    float: left;
}

.room .ready-button,
.room .unready-button {
    float: right;
}

.room .exit-room-button {
    position: absolute;
    top: 3rem;
}

.room .bottom-buttons {
    padding: 1rem 1.5rem;
}

@media screen and (orientation: portrait) {
    .room .room-content.joined {
        padding-bottom: 3.5rem;
    }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
    .room .bottom-buttons {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 0.5rem 1.8rem;
        background: var(--background);
        border-top: 2px dashed;
    }
}

@media screen and (min-width: 640px) {
    .teams.size-2 {
        grid-template-columns: 1fr 1fr;
    }

    .teams.size-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
