.room-team {
    position: relative;
}

.room-team .bordered-window {
    padding: 0.5rem 0;
    text-align: center;
    min-height: 7.7rem;
}

.room-team .bordered-window > * {
    margin-left: auto;
    margin-right: auto;
}

.room-team .button {
    position: absolute;
    bottom: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.room-team .team-name {
    font-size: 0.9rem;
    padding: 0.1rem 0;
    position: relative;
    display: inline-block;
}

.room-team .team-name-icon {
    font-family: Animals;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.room-team .team-name > * {
    vertical-align: middle;
    display: inline-block;
}

.room-team .team-player-centerer {
    display: inline-block;
    position: relative;
}
