.room-team .team-player {
    font-size: 0.7rem;
    padding: 0.25rem 0;
}

.room-team .team-player .icon {
    width: 0;
    padding: 0.35rem;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 0.2em;
    left: -1.4em;
}

.room-team .team-player .spinner {
    animation: spin 1s linear infinite;
}

.room-team .team-player.me {
    background-color: var(--primary);
    color: var(--background);
    font-weight: 500;
}
