.room-info * {
    display: inline-block;
    vertical-align: top;
    line-height: 1.25;
}

.room-info .players-joined {
    margin-right: 0.8rem;
}

.room .room-info-display {
    position: absolute;
    top: 2.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    text-align: center;
}

.room .room-info-display .players-and-rounds > * {
    display: inline-block;
}

.room .room-info-display .rounds {
    margin-left: 0.5rem;
}
