.rounds .round-icon {
    width: 1rem;
    height: 1.25em;
    background-position: center;
}

.rounds .x-icon:before,
.rounds .x-icon:after {
    background: var(--neutral);
}

.rounds * {
    display: inline-block;
    vertical-align: top;
    line-height: 1.25;
}

.rounds > * {
    vertical-align: middle;
}
