.spectators {
    position: absolute;
    top: 3.6rem;
    right: 1rem;
    width: 4rem;
    text-align: right;
}

.spectators > * {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.spectators .full-name-popup {
    display: none;
}

.spectators .button-round {
    padding: 0;
}

.spectators .spectator-monogram {
    background-color: var(--neutral);
    border-radius: 2rem;
    color: var(--background);
    font-weight: 600;
    font-size: 0.7rem;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    position: relative;
    line-height: 1.6rem;
    cursor: pointer;
}

.spectators .spectator-monogram:hover,
.spectators .spectator-monogram:hover .players-not-joined-count {
    background-color: var(--neutral-lighter);
}

.spectators > .others {
    margin-left: 0.5rem;
}

.spectators .spectator-monogram.me {
    background-color: var(--primary);
}

.spectators .spectator-monogram.me:hover {
    background-color: var(--primary-lighter);
}

.players-not-joined-count {
    position: absolute;
    background-color: var(--neutral);
    line-height: 0.9rem;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 1rem;
    top: -0.4rem;
    right: -0.4rem;
    border: 0.1rem solid var(--background);
    box-sizing: content-box;
    font-size: 0.6rem;
}

.spectators .icon.sprite-player-icon-1-bg {
    height: 0.8rem;
    width: 0.8rem;
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
}

.spectators .full-name-popup {
    font-size: 0.7rem;
    color: var(--background);
    background-color: var(--neutral);
    text-align: center;
    border-radius: 0.7rem;
    border: 0.1rem solid var(--background);
    font-weight: 500;
    padding: 0.1rem 0.7rem;
    line-height: 1;
    position: absolute;
    top: 2rem;
}

.spectators .me .full-name-popup {
    left: 50%;
    transform: translateX(-50%);
}

.spectators .others .full-name-popup {
    right: -0.9rem;
}

.spectators .full-name-popup:before {
    content: "";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    background-color: var(--neutral);
    top: -0.2rem;
}

.spectators .me .full-name-popup,
.spectators .me .full-name-popup:before {
    background-color: var(--primary);
}

.spectators .me .full-name-popup:before {
    transform: translateX(-50%) rotate(45deg);
    left: 50%;
}

.spectators .others .full-name-popup:before {
    transform: rotate(45deg);
    right: 1.35rem;
}

.spectators .spectator-full-name {
    position: relative;
    white-space: nowrap;
    padding: 0.2rem 0;
}
