.team-composition {
    line-height: 2em;
}

.team-composition > * {
    vertical-align: top;
    margin: 0 0.2em;
}

.team-composition .player-icon {
    width: 1em;
    height: 1em;
    float: left;
    position: relative;
}

.team-composition .team-icons {
    display: inline-block;
    position: relative;
    width: 2em;
}

.team-composition .vs-text {
    display: inline-block;
}

.team-composition .team-icon {
    width: 2em;
    height: 2em;
    background-position-y: center;
    display: inline-block;
}

.team-composition .sprite-player-icon-1 {
    background-size: 1.6em;
}
