.create-room {
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background);
    z-index: 1;
    text-align: center;
}

.create-room .bordered-window {
    padding: 0.9rem 1rem 0.5rem 1rem;
    max-width: 30rem;
    margin: auto;
    width: 100%;
}

.create-room .button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4rem;
}

.create-room .big-title {
    width: 100%;
}

.create-room .form-grid {
    display: grid;
    grid-column-gap: 1rem;
    row-gap: 0.5rem;
}

.create-room form > * {
    margin: 0;
}

.create-room form input {
    font-size: 0.9rem;
}

.create-room label {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.create-room .title-wrapper {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.create-room .big-title .title-text {
    padding: 0 2.5rem;
}

.create-room .slider {
    top: 0.4rem;
}

.create-room .big-title .title-text {
    line-height: 1.8rem;
    font-size: 1rem;
}

.close-button {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
}

.create-room .page-buttons .button {
    display: inline-block;
    margin: 0 1.7rem;
}

.create-room-page {
    padding: 1rem 0;
    display: grid;
    row-gap: 0.6rem;
}

.create-room .room-name {
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
}

.create-room .link-page-text {
    font-size: 0.9rem;
}

.create-room .room-link .icon {
    margin: 0 0.3rem;
}

.create-room .room-link {
    word-break: break-all;
}

.link-page-text,
.room-link {
    cursor: pointer;
}

@media screen and (min-width: 640px) {
    .create-room .form-grid {
        grid-template-columns: 1fr 1.5fr;
        column-gap: 1rem;
    }

    .create-room .bordered-window {
        padding: 0.9rem 4rem 0.5rem 4rem;
    }

    .create-room label {
        text-align: right;
    }

    .create-room .team-composition {
        margin-right: 1rem;
    }

    .create-room .team-composition,
    .create-room .rounds {
        display: inline-block;
    }
}
