.slider {
    position: relative;
    height: 2rem;
    width: 100%;
}

.slider .bar {
    height: 0.4rem;
    background: var(--background);
    border: 0.1rem solid var(--neutral);
    border-radius: 0.4rem;
    position: relative;
    margin-top: 0.1rem;
}

.slider .slider-button {
    width: 3.5rem;
    height: 1.5rem;
    position: absolute;
    top: -0.8rem;
    left: -1.75rem;
    font-size: 0.9rem;
}

.slider .markers {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: -0.15rem;
}

.slider .slider-content {
    max-width: 75%;
    position: relative;
    margin: auto;
}
.slider .marker {
    position: relative;
    width: 0;
}

.slider .line {
    height: 0.9rem;
    width: 0.1rem;
    background: var(--neutral);
    margin: auto;
}

.slider .bar-wrapper {
    position: absolute;
    width: 100%;
    background: var(--background);
    height: 0.6rem;
}

.slider .slider-position {
    width: 0;
    height: 0;
    position: absolute;
    top: 0.3rem;
    left: 50%;
}

.slider .value {
    text-align: center;
    width: 1rem;
    left: -0.45rem;
    position: relative;
    font-size: 0.8rem;
    top: 0.1rem;
}

.slider .snap .line {
    background: var(--primary);
}

.slider .snap .value {
    color: var(--primary);
}
