.round-history {
    font-size: 0.7rem;
    font-weight: 500;
    padding: 3.5rem 1rem 1rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.round-history .scroll-window {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.round-history .round-history-table {
    width: 100%;
    table-layout: fixed;
}

.round-history .team-red {
    color: var(--team-red);
}

.round-history .team-blue {
    color: var(--team-blue);
}

.round-history .primary {
    color: var(--primary);
}

.round-history .game-round-header {
    text-align: left;
    color: var(--primary);
}

.round-history .game-round-header > td {
    border-bottom: 0.1rem solid var(--primary);
}

.round-history .game-name {
    text-align: left;
}

.round-history td {
    padding: 0.2rem 0.2rem;
}

.round-history td:first-child {
    padding-left: 0;
}

.round-history td:first-child,
.round-history th:first-child {
    width: 18%;
}

.round-history td:last-child {
    padding-right: 0;
}

.round-history .separator {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.round-history .letter-used-by-others {
    text-transform: uppercase;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    position: relative;
    margin: 0 0.25rem;
}

.round-history .letter-used-by-others:before {
    content: "";
    border-radius: 1rem;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    border: 0.1rem solid;
    top: -0.15rem;
    left: -0.15rem;
}

.round-history .guessed-letter .letter {
    text-transform: uppercase;
    border-bottom: 0.1rem solid;
    display: inline-block;
    width: 0.7rem;
    height: 1rem;
}
