.control-handle {
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.control-handle.inactive {
    cursor: default;
}

.control-outer {
    stroke: var(--neutral);
    stroke-width: 2;
    r: 30;
    fill: none;
}

.control-detector {
    r: 30;
    fill: transparent;
}

.control-inner {
    r: 5;
    fill: var(--neutral);
}

.control-handle.inactive .control-inner {
    fill: var(--neutral);
}

.primary .control-outer {
    stroke: var(--primary);
}

.primary .control-inner {
    fill: var(--primary);
}

@media only screen and (min-width: 960px) {
    .control-outer {
        r: 25;
    }

    .control-handle:hover .control-outer {
        r: 30;
    }
}
