.button,
button {
    border: none;
    color: var(--background);
    padding: 0 0.4rem;
    position: relative;
    cursor: pointer;
    display: block;
    font-weight: 500;
    height: 1.65rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    outline: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
}

.button-body {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.button-fb {
    color: #fff;
}

.button:disabled {
    color: var(--background);
}

.button-side {
    width: 3.3rem;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
}

.button-side.left {
    background-position: left center;
    left: -1rem;
}

.button-side.right {
    right: -1rem;
    background-position: right center;
}

.fb-icon {
    width: 0.35rem;
    display: inline-block;
    position: relative;
    top: 0.1rem;
    margin-right: 0.5rem;
}

.button .content {
    position: relative;
}

.button .hover,
.button .active,
.button .busy,
.button .disabled {
    display: none;
}

.button:hover .hover {
    display: block;
}

.button:hover .normal {
    display: none;
}

.button:active .active {
    display: block;
}

.button:active .hover {
    display: none;
}

.button.busy .hover,
.button.busy .active,
.button.busy .normal {
    display: none;
}

.button.busy .busy {
    display: block;
}

.button.disabled .hover,
.button.disabled .active,
.button.disabled .normal,
.button.disabled .busy {
    display: none;
}

.button.disabled .disabled {
    display: block;
}

.button.busy:before,
.button.disabled:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff; /* Old browsers */
    background: linear-gradient(
        -45deg,
        var(--neutral) 25%,
        transparent 25%,
        transparent 50%,
        var(--neutral) 50%,
        var(--neutral) 75%,
        transparent 75%,
        transparent
    );
    background-size: 0.6rem 0.6rem;
    animation: button-bg-sleeve 2s linear infinite;
    overflow: hidden;
}

.button.disabled:before {
    animation: none;
}

@keyframes button-bg-sleeve {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0.6rem 0.6rem;
    }
}
