.loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--background);
}

.loading-screen-content {
    padding: 1rem;
    color: var(--neutral);
    text-align: center;
}

.loading-screen .text {
    margin-top: 1rem;
}

.error {
    color: red;
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem auto;
}
