.rotor-disc {
    width: 6rem;
    height: 6rem;
    animation: spin 6s linear infinite;
}

.rotor {
    position: relative;
    display: inline-block;
    margin: 0.3rem;
}

.rotor-marker {
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.1rem;
    right: 0.2rem;
}
