.return-to-lobby-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.game-over-screen {
    text-align: center;
    height: 100%;
}

.game-over-screen .title {
    padding: 1rem;
    text-align: center;
}
