.podium {
    display: grid;
    width: 25rem;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.podium.size-1 {
    grid-template-columns: 1fr;
}

.podium.size-3 .place-1 {
    order: 2;
}
.podium.size-3 .place-2 {
    order: 3;
}
.podium.size-3 .place-3 {
    order: 1;
}

.podium.size-2 .place-1 {
    order: 1;
}
.podium.size-2 .place-2 {
    order: 2;
}

.podium.size-2 {
    grid-template-columns: 1fr 1fr;
}

.podium.size-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.podium .place-container {
    position: relative;
}

.podium .place {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--background);
    font-weight: 500;
    transition: height 0.5s;
}

.podium.hidden .place {
    height: 0 !important;
}

.podium .place.team-blue {
    background-color: var(--team-blue);
}

.podium .place.team-red {
    background-color: var(--team-red);
}

.podium .place.primary {
    background-color: var(--primary);
}

.podium .team-blue .team-icon {
    color: var(--team-blue);
}

.podium .team-red .team-icon {
    color: var(--team-red);
}

.podium .primary .team-icon {
    color: var(--primary);
}

.podium .team-blue .place-top {
    background: var(--team-blue);
    color: var(--team-blue);
}

.podium .team-red .place-top {
    background: var(--team-red);
    color: var(--team-red);
}

.podium .primary .place-top {
    background: var(--primary);
    color: var(--primary);
}

.podium .players {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.podium .player {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.podium .place .button-round {
    background-color: var(--background);
}

.podium .details-button {
    margin: auto;
}

.podium .details-button .icon {
    top: 0.45rem;
    left: 0.45rem;
    padding: 0.65rem;
}

.podium .details-button-container {
    margin-top: 1rem;
}

.podium .details-button-container .button-text {
    font-size: 0.8rem;
}

.podium .team-icon {
    font-family: Animals;
    font-size: 3rem;
    position: absolute;
    top: -4rem;
    color: var(--neutral);
    width: 100%;
}

.podium .place-top {
    position: absolute;
    top: -0.5rem;
    width: calc(100% - 1rem);
    left: 0.5rem;
    height: 0.5rem;
}

.podium .place-top:before,
.podium .place-top:after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    height: 0;
    width: 0;
}

.podium .place-top:before {
    left: -0.5rem;
    border-left: 0.25rem solid transparent;
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid var(--neutral);
    border-right: 0.25rem solid var(--neutral);
}

.podium .place-top:after {
    right: -0.5rem;
    border-left: 0.25rem solid var(--neutral);
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid var(--neutral);
    border-right: 0.25rem solid transparent;
}

.podium .team-blue .place-top:before {
    border-bottom-color: var(--team-blue);
    border-right-color: var(--team-blue);
}

.podium .team-red .place-top:before {
    border-bottom-color: var(--team-red);
    border-right-color: var(--team-red);
}

.podium .primary .place-top:before {
    border-bottom-color: var(--team-primary);
    border-right-color: var(--team-primary);
}

.podium .team-blue .place-top:after {
    border-bottom-color: var(--team-blue);
    border-left-color: var(--team-blue);
}

.podium .team-red .place-top:after {
    border-bottom-color: var(--team-red);
    border-left-color: var(--team-red);
}

.podium .primary .place-top:after {
    border-bottom-color: var(--team-primary);
    border-left-color: var(--team-primary);
}

.podium .team-points {
    line-height: 1;
}

.podium .place-1 .place {
    height: 11rem;
}

.podium .place-2 .place {
    height: 8rem;
}

.podium .place-3 .place {
    height: 5.5rem;
}
