html,
body {
    background: var(--background);
    font-size: 20px;
    color: var(--neutral);
    line-height: 1.4;
    user-select: none;
    height: 100%;
}

@media screen and (min-width: 960px) {
    html,
    body {
        font-size: 30px;
    }
}

.color-primary {
    color: var(--primary);
}

.color-neutral {
    color: var(--neutral);
}

.color-team-red {
    color: var(--team-red);
}

.color-team-blue {
    color: var(--team-blue);
}

.centerer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form > input {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.form > * {
    margin: 0.8rem auto;
}

input[type="text"] {
    background: none;
    border: none;
    font-size: 1rem;
    text-align: center;
    color: var(--primary);
    border-bottom: 0.1rem dotted var(--neutral);
    padding: 0.25rem;
    border-radius: 0;
}

input[type="text"]:focus {
    border-color: var(--primary);
    border-bottom-style: solid;
}

input[type="text"]::placeholder {
    color: var(--neutral);
}

input[type="text"]:focus::placeholder {
    color: var(--primary);
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
