.game-timer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 0;
    height: 0;
    padding: 1.1rem;
    font-weight: 500;
}

.game-timer .seconds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1rem;
}

.game-timer .timer-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background);
}

.game-timer .timer-wrapper,
.game-timer .timer-wrapper * {
    box-sizing: border-box;
}

.game-timer .timer-wrapper .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: var(--background);
    border: 0.1rem solid var(--neutral);
}

.game-timer.hurry {
    color: red;
}

.game-timer.hurry .timer-wrapper .pie {
    border-color: red;
}

.game-timer .timer-wrapper .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    border-right: none;
    animation: rota 5s linear reverse;
    position: absolute;
}

.game-timer .timer-wrapper:hover .spinner,
.game-timer .timer-wrapper:hover .filler,
.game-timer .timer-wrapper:hover .mask {
    animation-play-state: running;
}

.game-timer .timer-wrapper .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    animation: opa 5s steps(1, end);
    border-left: none;
    position: absolute;
}

.game-timer .timer-wrapper .mask {
    width: 60%;
    height: 110%;
    position: absolute;
    background: inherit;
    opacity: 1;
    animation: opa 5s steps(1, end) reverse;
    left: -10%;
    top: -5%;
}

@keyframes rota {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opa {
    0% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}
