.lobby-header {
    position: relative;
    --header-height: 5.3rem;
    height: var(--header-height);
}

.lobby-header .header-content {
    z-index: 1;
    background: var(--background);
    height: var(--header-height);
    --duration: 0.5s;
    transition: height var(--duration), border-bottom-color var(--duration);
    border-bottom: 0.1rem dashed transparent;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.lobby-header .header-content-inner {
    transition: padding var(--duration);
    max-width: var(--max-width);
    margin: auto;
    position: relative;
    padding-top: 0;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.lobby-header .logout-button {
    left: 1rem;
}

.lobby-header .search-room-button {
    top: 1rem;
    right: 1rem;
}

.lobby-header .lobby-title {
    font-family: "Cutive Mono", monospace;
    text-transform: uppercase;
    font-size: 1.25rem;
    transition: font-size var(--duration), line-height var(--duration), top var(--duration);
    position: relative;
    top: 0.7rem;
}

.lobby-header .button {
    display: inline-block;
    margin-top: 1.55rem;
}

.lobby-header .button-round {
    position: absolute;
    top: 3rem;
    transition: top var(--duration);
}

.fixed.lobby-header .room-search-input {
    margin-top: 0;
}

.fixed.lobby-header .header-content {
    height: 3.3rem;
    border-bottom-color: var(--neutral);
}

.fixed.lobby-header .button-round {
    top: 0.5rem;
}

.fixed.lobby-header .lobby-title {
    font-size: 0.9rem;
    line-height: 1.3;
    top: 0;
}

.lobby-header .create-room-button {
    transition: margin var(--duration);
}

.fixed.lobby-header .create-room-button {
    margin-top: 0;
}
