.lobby {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.lobby .rooms {
    margin-top: 1rem;
    padding: 0 1.5rem;
}

@media screen and (min-width: 640px) {
    .lobby .rooms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}
