.lobby-room {
    margin-bottom: 1.8rem;
}

.lobby-room .button {
    display: inline-block;
    min-width: 4rem;
}

.lobby-room .room-info {
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}

.lobby-room .button {
    margin-bottom: 0.3rem;
}

.lobby-room.full {
    opacity: 0.6;
}

.lobby-room .bordered-window {
    margin-top: 0.7rem;
}

.lobby-room .big-title .title-text {
    padding: 0;
}
