.lobby .cancel-search {
    display: none;
    right: 1rem;
}

.lobby .room-search-input,
.lobby.search .search-room-button,
.lobby.search .create-room-button {
    display: none;
}

.lobby.search .room-search-input {
    display: block;
}

.lobby.search .cancel-search {
    display: block;
}

.lobby .room-search-input {
    transition: margin-top var(--duration);
    font-size: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.2rem 0;
    line-height: 1;
}
