.hangman .key {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2rem;
    text-align: center;
    border: 0.1rem solid var(--neutral);
    border-radius: 2rem;
    margin: 0.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: 500;
    vertical-align: top;
}

.hangman .keyboard-row {
    text-align: center;
}

.hangman .keyboard {
    top: 6rem;
    position: relative;
}

.hangman .key.unrevealed {
    font-family: Animals;
}

.hangman .key.clickable {
    background-color: var(--neutral);
    color: var(--background) !important;
    cursor: pointer;
}

.hangman .key.clickable:hover {
    background-color: var(--neutral-lighter);
    border-color: var(--neutral-lighter);
}

.hangman .key.team-red {
    border-color: var(--team-red);
    color: var(--team-red);
}

.hangman .key.team-red.clickable {
    background-color: var(--team-red);
}

.hangman .key.team-red.clickable:hover {
    background-color: var(--team-red-lighter);
    border-color: var(--team-red-lighter);
}

.hangman .key.team-blue {
    border-color: var(--team-blue);
    color: var(--team-blue);
}

.hangman .key.team-blue.clickable {
    background-color: var(--team-blue);
}

.hangman .key.team-blue.clickable:hover {
    background-color: var(--team-blue-lighter);
    border-color: var(--team-blue-lighter);
}

.hangman .key.primary {
    border-color: var(--primary);
    color: var(--primary);
}

.hangman .key.primary.clickable {
    background-color: var(--primary);
}

.hangman .key.primary.clickable:hover {
    background-color: var(--primary-lighter);
    border-color: var(--primary-lighter);
}

.hangman .key.highlight {
    border-color: var(--highlight);
    color: var(--highlight);
}

.hangman .key.used {
    border-color: transparent;
    background-color: transparent;
}
