.win-screen .win-screen-content {
    text-align: center;
}

.win-screen .player-name {
    font-size: 1.3rem;
}

.win-screen .text-between-player-and-team,
.win-screen .win-text {
    font-size: 0.9rem;
}

.win-screen .team-icon {
    font-family: Animals;
    margin-right: 0.4rem;
}

.win-screen .team > * {
    display: inline-block;
}

.win-screen .solution {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    padding: 0 1rem;
}

.win-screen.primary .player-name,
.win-screen.primary .team,
.win-screen.primary .solution {
    color: var(--primary);
}

.win-screen.team-blue .player-name,
.win-screen.team-blue .team,
.win-screen.team-blue .solution {
    color: var(--team-blue);
}

.win-screen.team-red .player-name,
.win-screen.team-red .team,
.win-screen.team-red .solution {
    color: var(--team-red);
}

.win-screen .win-screen-content > * {
    margin-top: 0.5rem;
}
