.hangman .words-container .letter {
    display: inline-block;
    letter-spacing: 0;
    font-size: 1rem;
    width: 1.1rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    position: relative;
    color: var(--primary);
    vertical-align: top;
}

.hangman .words-container .words {
    padding: 0.3rem 0;
    display: block;
    max-width: 24rem;
    margin: auto;
    cursor: pointer;
    border-radius: 0.1rem;
    line-height: 0;
}

.hangman .words-container .letter:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.1rem;
    height: 0.1rem;
    background-color: var(--primary);
    width: 0.9rem;
}

.hangman .words-container {
    width: 100%;
    height: 6rem;
    text-align: center;
    position: absolute;
    top: 0;
}

.hangman .words-container .solution {
    position: absolute;
    width: 100%;
}

.hangman .words-container .solution > * {
    display: inline-block;
    vertical-align: middle;
}

.hangman .words-container .solution-input {
    padding: 0;
    line-height: 1;
    margin: 0;
    outline: none;
    opacity: 0;
}

.hangman .words-container .words:hover .letter:after,
.hangman .words-container .words.enabled .letter:after {
    background-color: var(--background);
}

.hangman .words-container .words:hover .letter,
.hangman .words-container .words.enabled .letter {
    color: var(--background);
}

.hangman .words-container .not-alphabet.letter:after {
    background-color: transparent !important;
}

.hangman .words-container .words:hover,
.hangman .words-container .words.enabled {
    background-color: var(--primary);
}

.hangman .words-container .word {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    height: 1.8rem;
    position: relative;
    vertical-align: top;
}

.hangman .words-container .words.enabled .word:last-child:after {
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 1.3rem;
    background: var(--background);
    top: 0.3rem;
    right: 0.45rem;
    animation: blink 1s linear infinite;
}
