.button-round.neutral {
    background-color: var(--neutral);
}

.button-round.neutral:hover {
    background-color: var(--neutral-lighter);
}

.button-round.primary {
    background-color: var(--primary);
}

.button-round.primary:hover {
    background-color: var(--primary-lighter);
}

.button-round {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.button-round .icon {
    position: absolute;
}

.button-round .x-icon:before,
.button-round .x-icon:after {
    background: var(--background);
}

.button-round .x-icon {
    left: 0.65rem;
    top: 0.3rem;
    position: absolute;
}

.button-round .x-icon:before,
.button-round .x-icon:after {
    height: 1rem;
}

.button-round .sprite-tick-background {
    top: 0.65rem;
    left: 0.6rem;
    width: 1rem;
    height: 1rem;
}
