.team-icons {
    font-family: Animals;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    text-align: center;
    font-size: 0.9rem;
}

.team-icons .team-icon {
    margin: 1rem 0;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
}

.team-icons .team-icon.winner {
    color: var(--background);
}

.team-icons .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.team-icons .icon-busy {
    animation: spin 1s linear infinite;
}

.team-icons .icon-star {
    animation: star-pulsate 1.5s cubic-bezier(0.51, -0.4, 0.4, 1.46) infinite;
    position: absolute;
    width: 0;
    height: 0;
    top: calc(50% - 0.2rem);
    left: 50%;
}

.team-icons .icon-star .icon {
    width: 0;
    height: 0;
    padding: 2rem;
    transform: translate(-50%, -55%);
}

.team-icons .team-icon-text {
    position: relative;
}

@keyframes star-pulsate {
    0% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: scale(2) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
