.svg-canvas {
    margin: auto;
}

.svg-canvas.fix-ratio {
    width: 100vw;
    max-height: 100vh;
    height: 85.7142vw;
    max-width: 116.6666vh;
    margin: auto;
}

.svg-canvas-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .svg-canvas-container {
        position: relative;
    }

    .svg-canvas.fix-ratio {
        max-width: none;
        max-height: none;
        width: 21rem;
        height: 18rem;
    }
}
