.big-title {
    position: relative;
    color: var(--background);
    padding: 0 1.8rem;
    font-size: 0.8rem;
    font-family: "Courier Prime", monospace;
    text-transform: uppercase;
    border-radius: 0.2rem;
    text-align: center;
}

.big-title .title-side {
    width: 2.8rem;
    height: 1.9rem;
    position: absolute;
    top: -0.1rem;
}

.big-title .title-side.left {
    left: 0;
}

.big-title .title-side.right {
    right: 0;
    transform: scaleX(-1);
}

.big-title .title-body {
    width: 100%;
    height: 1.3rem;
    background: var(--neutral);
    border-radius: 0.1rem;
    position: relative;
    margin: auto;
}

.big-title .title-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 2;
    font-size: 0.7rem;
    white-space: nowrap;
    padding: 0 2rem;
}

.title-body-padding {
    position: absolute;
    height: 1.6rem;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 2rem;
}
