.bordered-window {
    position: relative;
    padding: 0.5rem;
}

.bordered-window .window-corner {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
}

.bordered-window .window-corner.top {
    top: 0;
}

.bordered-window .window-corner.right {
    right: 0;
}

.bordered-window .window-corner.top.right {
    transform: scaleX(-1);
}

.bordered-window .window-corner.bottom.right {
    transform: scale3d(-1, -1, 1);
}

.bordered-window .window-corner.bottom {
    bottom: 0;
}

.bordered-window .window-corner.bottom.left {
    transform: scaleY(-1);
}

.bordered-window .window-corner.left {
    left: 0;
}

.bordered-window .window-side {
    background-color: var(--neutral);
    position: absolute;
}

.bordered-window.color-primary .window-side {
    background-color: var(--primary);
}

.bordered-window.color-team-red .window-side {
    background-color: var(--team-red);
}

.bordered-window.color-team-blue .window-side {
    background-color: var(--team-blue);
}

.bordered-window .window-side.left,
.bordered-window .window-side.right {
    height: calc(100% - 2.5rem);
    width: 0.1rem;
    top: 1.25rem;
}

.bordered-window .window-side.left {
    left: 0;
}

.bordered-window .window-side.right {
    right: 0;
}

.bordered-window .window-side.top,
.bordered-window .window-side.bottom {
    width: calc(100% - 2.5rem);
    height: 0.1rem;
    left: 1.25rem;
}

.bordered-window .window-side.top {
    top: 0;
}

.bordered-window .window-side.bottom {
    bottom: 0;
}
