.small-title {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5.5rem;
    text-align: center;
    height: 1.1rem;
}

.small-title .title-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0.2rem;
}

.small-title .title-bg {
    position: relative;
    top: 0.05rem;
    width: 100%;
    height: 100%;
}

.small-title .content {
    position: relative;
    color: var(--background);
    font-weight: 500;
    font-size: 0.8rem;
    vertical-align: top;
    line-height: 1rem;
}

.small-title .content > * {
    display: inline-block;
}
